name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Read Service Account Key
        id: read_key
        shell: bash
        run: |
          echo "SERVICE_ACCOUNT_JSON=$(cat opuluxe-ai-firebase-adminsdk-fbsvc-db788cd2ca.json | jq -c .)" >> $GITHUB_ENV

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ env.SERVICE_ACCOUNT_JSON }}'
          channelId: live
          projectId: opuluxe-ai
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks
