name: Deploy to Firebase Hosting on push
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install System Dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Collect Static
        run: python manage.py collectstatic --noinput
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_OPULUXE_AI }}'
          channelId: live
          projectId: opuluxe-ai
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
